---
# tasks file for deploy-key

- name: Assertions
  assert:
    that:
        - ansible_os_family in ['OpenBSD', 'Debian']
        - deploy_key is defined
        - deploy_key_users is iterable
        - deploy_key_repos is iterable

- name: Create deploy group
  group:
      name: deploy
      state: present
      system: no

- name: Add users to the deploy group
  with_items: '{{ deploy_key_users }}'
  user:
      name: '{{ item }}'
      groups: deploy
      append: True
      state: present

- name: APT install # acl for running modules with a limited user
  when: ansible_pkg_mgr == 'apt'
  apt:
      name: [acl, git, ssh-client]
      state: present
      update_cache: yes
      cache_valid_time: 3600

- name: pkg add
  when: ansible_pkg_mgr == 'openbsd_pkg'
  openbsd_pkg:
      name: git
      state: present

- name: Get the nobody uid
  command: id -u nobody
  changed_when: False
  register: deploy_key_nobody_uid

- name: Copy the deployment key
  copy:
      content: '{{ deploy_key }}'
      owner: '{{ deploy_key_nobody_uid.stdout.strip()|int -1 }}'
      group: deploy
      mode: 0o0040
      dest: /etc/ssh/deploy.key

- name: Configure SSH to use the deploy key
  with_items: '{{ deploy_key_repos }}'
  blockinfile:
      dest: /etc/ssh/ssh_config
      state: present
      marker: '#{mark} ANSIBLE MANAGED BLOCK {{ item }}'
      block: |
          Host {{ item }}
          HostName {{ item }}
          User git
          IdentityFile /etc/ssh/deploy.key

- name: Get hosts keys
  command: ssh-keyscan {{ deploy_key_repos|join(' ') }}
  register: deploy_key_ssh_keyscan
  changed_when: False
  failed_when: deploy_key_ssh_keyscan|failed or deploy_key_ssh_keyscan.stdout == ""
  become: False
  check_mode: no

- name: Add known hosts
  with_items: '{{ deploy_key_ssh_keyscan.stdout_lines }}'
  known_hosts:
      key: '{{ item }}'
      state: present
      name: '{{ item|split()[0] }}'
      path: /etc/ssh/ssh_known_hosts

- name: Set premissions for the known hosts file
  file:
      path: /etc/ssh/ssh_known_hosts
      owner: root
      group: 0
      mode: 0o0644
      state: file
